@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	caret-color: transparent;
	/*border-style: outset;
	border-width: 3px; for debug view*/
}
:root { /* Define a CSS variable   var(--color-themeDarker); */ 
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-lightgray: rgba(238, 238, 238, 1);
  --color-darkgray: rgba(72, 72, 72, 1);
  --color-mainbackground: rgba(3, 169, 244, 0.8);
  --color-mainforeground: rgba(0, 128, 255, 0.8);
  --color-themeDarker: rgba(10, 49, 71, 1);
  --color-themeDark: rgba(0, 72, 132, 1);
  --color-themeRegular: rgba(42, 125, 162, 1);
  --color-themeLight: rgba(132, 140, 144, 1);
  --color-themeLighter: rgba(0, 128, 255, 1);
}
body
{
	background: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.container
{
	position: relative;
	width: 100%;
	max-width: 1000px;
	min-height: 1000px;
	background: #fff;
	margin: 50px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 35px 35px rgba(0,0,0,0.1);
}
.container .left_Side
{
	position: relative;
	background: var(--color-themeDarker);
	padding: 40px;
}
.profileText
{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .profile_image
{
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	border-style: inset;
	border-width: 2px; 
}
.profileText .profile_image img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.profileText h2
{
	color: var(--color-white);
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	line-height: 1.4em;
	
	text-shadow: 2px 1px 2px black;
}
.profileText h2 span
{
	font-size: 0.8em;
	font-weight: 300;
}
.contactInfo
{
	padding-top: 40px;
}
.title
{
	color: var(--color-white);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.contactInfo ul
{
	position: relative;
}
.contactInfo ul li
{
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
	min-width: 250px;
}
.contactInfo ul li .icon
{
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: var(--color-mainbackground);
}
.contactInfo ul li span
{
	color: var(--color-white);
	font-weight: 300;
}
.contactInfo ul li span.link
{
	color: var(--color-lightgray);
	font-weight: 400;
	text-decoration: underline;
}
.contactInfo.education li
{
	margin-bottom: 15px;
}
.contactInfo.education h5
{
	color: var(--color-mainbackground);
	font-weight: 500;
}
.contactInfo.education h4:nth-child(2)
{
	color: var(--color-white);
	font-weight: 500;
}
.contactInfo.education h4
{
	color: var(--color-white);
	font-weight: 300;
}
.contactInfo.languages .percent
{
	position: relative;
	width: 100%;
	height: 6px;
	background: #081921;
	display: block;
	margin-top: 5px;
}
.contactInfo.languages .percent div
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #03a9f4;
}

.container .right_Side
{
	position: relative;
	background: #fff;
	padding: 40px;
}
.about
{
	margin-bottom: 50px;
}
.about:last-child
{
	margin-bottom: 0;
}
.about p
{
	margin-bottom: 6px;
}
.title2nd
{
	color: var(--color-themeDark);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
p
{
	color: var(--color-darkgray);
}
.experience
{
	max-height: 3000px;
}
.exp
{
	display: flex;
	flex-direction: row;
	max-height: 86px;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
	margin: 20px 0;
	margin-bottom: 0; /* override sections margin to accomodate the button */
}
.expanded {
    max-height: 2000px; /* Expand to show all content (adjust as needed) */
    transition: max-height 0.3s ease-in-out; /* Smooth transition animation for container */
    animation-fill-mode: forwards; /* Prevent animation from resetting */
}
.expandButton {
    display: flex;
    margin-top: 10px; /* Adjust the margin as needed */
	margin-bottom: 50px;
    color: var(--color-mainbackground);
	margin-left: 40%;
    background-color: var(--color-white);
	font-weight: 600;
	border-width : 0;
}
.expandButton:hover { /* Hover effect */
    color: var(--color-themeDarker);
}
@keyframes expand { /* Expand animation */
    0% {
        opacity: 0;
        max-height: 200px; /* Start from the fixed height */
    }
    100% {
        opacity: 1;
        max-height: 1000px; /* Expand to full height */
    }
}
.exp .year_company
{
	min-width: 130px;
}
.exp .year_company h5
{
	text-transform: uppercase;
	color: var(--color-darkgray);
	font-weight: 600;
}
.exp .text h4
{
	text-transform: uppercase;
	color: var(--color-themeRegular); 
	font-size: 16px;
}
.exp .text p
{
	line-height: 1.3;
}
.exp .text ul li
{
	margin-left: 12px;
	padding-left: 3px;
}
.exp .text ul li::marker 
{
	content: '+';
	font-size: 1.2em;
	font-weight: 700;
	color: var(--color-themeRegular); 
}
.skills .box
{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 150px 1fr;
	justify-content: center;
	align-items: center;
}
.skills .box h4
{
	text-transform: uppercase;
	color: var(--color-themeDark);
	font-weight: 500;
}
.skills .box .percent
{
	position: relative;
	width: 100%;
	height: 10px;
	background: #f0f0f0;
}
.skills .box .percent div
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #03a9f4;
}
.interest ul
{
	display: grid;
	grid-template-columns: repeat(2,1fr);
}
.interest ul li
{
	list-style: none;
	color: var(--color-lightgray);
	font-weight: 500;
	margin: 10px 0;
	min-width: 100px;
}
.interest ul li .fa
{
	color: var(--color-mainbackground);
	font-size: 18px;
	width: 20px;
}

@media (max-width: 1000px)
{
	.container
	{
		margin: 10px;
		grid-template-columns: repeat(1,1fr);
	}
	.interest ul
	{
		grid-template-columns: repeat(3,1fr);
	}
}

@media (max-width: 700px)
{
	.about .box
	{
		flex-direction: column;
	}
	.about .box .year_company
	{
		margin-bottom: 5px;
	}
	.interest ul
	{
		grid-template-columns: repeat(2,1fr);
	}
	.skills .box
	{
		grid-template-columns: repeat(1,1fr);
	}
}
